* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.titulo {
  cursor: pointer;
  font-family: 'Sacramento', sans-serif;
  color: black;
  margin-bottom: -4.2rem;
  font-size: 3rem;
  text-decoration: none;
}
.perfil {
  display: flex;
  flex-direction: row;
}
.container_img {
  max-width: 60%;
}
img {
  max-width: 50%;
  padding-top: 0.5rem;
}
.perfil p {
  padding-top: 1rem;
}
.bg {
  background-color: #a3dcd2;
  max-width: 15rem;
  padding-right: 4rem;
  margin-left: auto;
  margin-top: -1rem;
  border: 1px solid #a3dcd2;
  border-radius: 0.4rem;
}
.header {
  background-color: #98d4ca;
  text-align: center;
  margin: auto;
  padding: 1rem;
}

.header a{
  text-decoration: none;
}

.header img{
  border-radius: 50%;
}

body {
  background-color: #cce7e7;
}
@media (max-width: 800px) {
  .perfil,
  .bg {
    visibility: hidden;
  }
}
