.pageHeader {
  background-color: #98d4ca;
}

.pageHeader > * {
  flex: 1 1 0px;
}

.pageHeaderTitle {
  font-family: "Sacramento", cursive;
  font-size: 5em;
  line-height: 1.2;
  text-align: center;
  transform: translateY(10%);
  background-color: transparent;
}

.headerBackButton {
  font-size: 2.5em !important;
}

.headerBackButton:active {
  background-color: transparent !important;
}
