* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photo {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 3rem auto;
  max-width: 100%;
}

.info {
  display: table-cell;
  justify-content: center;
  justify-items: center;
  padding-right: 10rem;
  max-width: 100%;
  line-height: 2rem;
}

.container {
  display: flex;
  justify-items: space-between;
  justify-content: center;
}

.imgLine {
  margin: 0;
  padding-right: 7rem;
}

.donator {
  padding-top: 3rem;
}
